<a href="https://colab.research.google.com/github/t0336000d/2020python/blob/master/2020_Python_Programming_Practical_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **2020 Python Programming Practical 2**

If you do not have one already, create a [GitHub](https://github.com) account using your DHS Mail.

Create a public repository 2020python

File --> Save a copy in GitHub under your 2020python repository

Also share this colab file with edit access with computing@dhs.sg

**Q1. (Check if number is odd or even)**

Write a program that reads an integer and checks whether it is odd or even. 

Sample interaction:
```
Enter number: 25
25 is odd

Enter number: 8
8 is even

```

In [4]:
x = input()
if int(x) % 2 == 0:
  print(x, "is even")
else:
  print(x, "is odd")

8
8 is even

**Q2. (Validate triangles and compute perimeter)**

Write a program that reads three edges for a triangle and determines whether the input is valid. The input is valid if the sum of any two edges is greater than the third edge. The program will compute the perimeter of the triangle if the input is valid. Otherwise, display that the input is invalid. 

Sample interaction:
```
Enter side 1: 2
Enter side 2: 2
Enter side 3: 1
Perimeter = 5

Enter side 1: 1
Enter side 2: 2
Enter side 3: 1
Invalid triangle!

```

In [7]:
x = int(input())
y = int(input())
z = int(input())
if x+y>z and x+z>y and y+z>x:
  print("Perimeter = " + str(x+y+z))
else:
  print("Invalid triangle!")

1
2
1
Invalid triangle!

**Q3. (Determine grade)**

Write a program that prompts the user to enter a score between 0 and 100 inclusive and output the corresponding grade as well as a Pass/Fail status. Output an error message if the entered score in not within the valid range. The grading system is as follows (S and U are not passes):

A: 70 - 100  
B: 60 - 69  
C: 55 - 59  
D: 50 - 54  
E: 45 - 49  
S: 35 - 44  
U: 0 - 34

Sample interaction:
```
Enter score: 73
A
Pass

Enter score: 37
S
Fail

Enter Score: -1
Invalid! Score must be within 0 - 100.

```

In [15]:
x = float(input())
if 70 <= x <= 100:
  print ("A \nPass")
elif 60 <= x <= 69:
  print ("B \nPass")
elif 55 <= x <= 59:
  print ("C \nPass")
elif 50 <= x <= 54:
  print ("D \nPass")
elif 45 <= x <= 49:
  print ("E \nPass")
elif 35 <= x <= 44:
  print ("S \nFail")
elif 0 <= x <= 34:
  print ("U \nFail")
elif x > 100 or x < 0:
  print("Invalid! Score must be within 0 - 100")

37
S
Fail

**Q4. (Determine leap year)**

Write a program that prompts the user to enter a year and determines whether it is a leap year. A year is a leap year if it is divisible by 4 but not 100, or is divisible by 400. 

Sample interaction:
```
Enter year: 2020
Leap

Enter year: 2019
Non-Leap
```

In [18]:
x = int(input())
if (x%4 == 0 and x%100 != 0) or x%400==0:
  print("Leap")
else:
  print("Non-Leap")

2019
Non-Leap

**Q5. (Find number of days in a month)**

Write a program that prompts the user to enter the month and year, and displays the number of days in the month. Sample interaction:
```
Enter month: 2
Enter year: 2020
February 2020 has 29 days.

Enter month: 3
Enter year: 2021
March 2021 has 31 days.

```

In [25]:
calendar = ["","January", "Feburary", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
y = int(input())
x = int(input())
if (x%4 == 0 and x%100 != 0) or x%400==0:
  if y == (1 or 3 or 5 or 7 or 8 or 10 or 12):
    print (calendar[y], str(x), "has", 31, "days") 
  elif y == (4 or 6 or 9 or 11):
    print(calendar[y], str(x), "has", 30, "days")
  else:
    print(calendar[y], str(x), "has", 29, "days")
else:
  if y == (1 or 3 or 5 or 7 or 8 or 10 or 12):
    print (calendar[y], str(x), "has", 31, "days") 
  elif y == (4 or 6 or 9 or 11):
    print(calendar[y], str(x), "has", 30, "days")
  else:
    print(calendar[y], str(x), "has", 28, "days")

2
2020
Feburary 2020 has 29 days

**Q6. (Convert from kilograms to pounds)**

Write a program that displays the following table (1 kilogram = 2.2 pounds):
```
Kilograms Pounds
1         2.2
2         4.4
3         6.6
...
9         19.8
10        22.0
```

In [42]:
print("Kilograms Pounds")
for i in range (1,11):
  print (str(i) +""+(10-len(str(i)))*" "+""+"{:.1f}".format(i*2.2))
  '''
  print (i, end="")
  print ((10-len(str(i)))*" ",end="")
  y = float(i*2.2)
  print(f"{y:.1f}")
  '''

Kilograms Pounds
1         2.2
2         4.4
3         6.6
4         8.8
5         11.0
6         13.2
7         15.4
8         17.6
9         19.8
10        22.0

**Q7. (Convert from miles to kilometres)**

Write a program that displays the following two tables side-by-side (1 mile = 1.609 kilometres):
```
Miles	Kilometers	Kilometres	Miles
1    	1.609     	20        	12.430
2    	3.218     	25        	15.538

...
9    	14.481    	60        	37.290
10   	16.090    	65        	40.398
```

In [40]:
print("Miles Kilometers Kilometers Miles")
for i in range (1,11):
  print (str(i)+""+(6-len(str(i)))*" " + "{:.3f}".format(i*1.609) + (11-len(str("{:.3f}".format(i*1.609))))*" " + str((i+3)*5) + (11-len(str((i+3)*5)))*" " + "{:.3f}".format(((i+3)*5)/1.609))

Miles Kilometers Kilometers Miles
1     1.609      20         12.430
2     3.218      25         15.538
3     4.827      30         18.645
4     6.436      35         21.753
5     8.045      40         24.860
6     9.654      45         27.968
7     11.263     50         31.075
8     12.872     55         34.183
9     14.481     60         37.290
10    16.090     65         40.398

**Q8. (Find two highest scores)**

Write a program that prompts the user to enter the number of students and each student's name and score, and finally displays the student with the highest score and the student with the second-highest score. Enter up to 5 student records.

In [54]:
xx = [0,0,0]
first = 0
second = 0
x = int(input())
for i in range(1,x+1):
  xx.append(input())
  y = int(input())
  if y > xx[first*2]:
    second = first
    first = i
  elif y > xx[second*2]:
    second = i
  xx.append(y)
print("The student with the highest score is:", xx[first*2-1], "and the student with the second highest score is", xx[second*2-1])

3
Joel
5
Jake
3
Jordan
1
2 3
The student with the highest score is: Joel and the student with the second highest score is Jake

**Q9. (Finding the smallest n such that n<sup>2</sup> > 12000)**

Use a while loop to find the smallest integer n such that n<sup>2</sup> is greater than 12,000.

In [55]:
n=0
while n*n <= 12000:
  n+=1
print(n)

110

**Q10. (Finding the largest n such that n<sup>3</sup> < 12000)** 

Use a while loop to find the largest integer n such that n<sup>3</sup> is less than 12,000.

In [56]:
n=0
while n*n*n < 12000:
  n+=1
print(n-1)

22

**Q11. (Computing the greatest common divisor)**

A solution to find the greatest common divisor of two integers n1 and n2 is as follows:
* First find d to be the minimum of n1 and n2
* Then check whether d, d-1, â€¦ d-2, 2, or 1 is a divisor for both n1 and n2 in this order.
* The first such common divisor is the greatest common divisor for n1 and n2. 

Write a program to implement this solution.  
Sample interaction:
```
Enter n1: 12
Enter n2: 18
GCD: 6
```

In [64]:
x = int(input())
y = int(input())
d = int(min(x,y))
while d > 0:
  if x % d == 0 and y % d == 0:
    print(d)
    break
  d-=1

4
6
2

**Q12. (Find factors of a positive integer)**

Write a program that reads a positive integer > 1 and displays all its factors.   
Sample interaction:
```
Enter n: 120
Factors: 2 2 2 3 5 
```

In [71]:
x = int(input())
i = 2
print("Factors:", end=" ")
while x >= i:
  if x % i == 0:
    x /= i
    print(i, end=" ")
  else:
    i+=1

120
Factors: 2 2 2 3 5